.vidio {
  width: 100%;
  margin-top: 70px;
  border-radius: 10px;
   z-index: 0;
  position: relative;
}
.about {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: bold;
  top: 300px;
  font-size: 40px;
  list-style: none;
  margin-left: 100px;
  z-index: 20;
}
.ab1 {
  font-weight: normal;
  font-size: 35px;
}
.ab2 {
  font-size: 20px;
  font-weight: normal;
}
.ab3 {
  font-size: 65px;
}
.sosmed {
  top: 20px;
  position: relative;
  display: flex;
  gap: 25px;
 
  pointer-events: auto;
}
.col {
  color: rgb(255, 2, 158);
}
.nur
{
  position: relative;
  width: 400px;
  margin-top: -1000px;
  z-index: 30;
  left: 1100px;
  border-radius: 100%;
  height: 400px;
  top: -300px;
}